<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Titan+One&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="css/main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

    <title>Dishin' the Dirt</title>
</head>
<body>
    <div id="bg">
        <img src="images/plant_bg.png" alt="plant pattern wallpaper">
    </div>
    <main id="app">

        <section id="mainCon">
            <h2>Where My Plants At</h2>

            <!-- !vue custom message component goes here -->
            <section id="messageCon"> 
                <ul id="messages" v-for="message in messages">
                    <newmessage :msg="message" :socketid="socketID"></newmessage>
                </ul>
            </section>

            <form id="sendMsg">
                <input v-model="message" id="msginput" placeholder="Type Message Here" type="text" autocomplete="off"/>
                <button :disabled="!message" class="chat-btn" href="chat.html"  @click.prevent="dispatchMessage" type="submit">Send</button>
            </form>
        </section>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>