
#mainCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 1rem;

    h2 {
        font-family: $title-font;
        font-size: 3rem;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    }

    #messageCon {
        width: 100%;
        max-width: 1200px;
    }
}

#sendMsg {
    position: fixed;
    padding: 12px 0;
    margin-top: 1rem;
    bottom: 0;
    width: 100%;
    display: flex;
    background: rgb(186,227,139);
    background: linear-gradient(0deg, rgba(186,227,139,1) 0%, rgba(186,227,139,0) 60%);
    
    #msginput {
        flex-grow: 1;
        height: 40px;
        resize: none;
        padding: 5px 25px;
        align-content: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.89);
        @include roundCorners(25px 0 0 25px);
        box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
    }

    .chat-btn{
        border-left: 1px solid #333;
        width: 100px;
        background-color: rgba(255, 255, 255, 0.89);
        @include roundCorners(0 25px 25px 0);
        box-shadow: inset 1px 1px 2px rgba(0,0,0,0.5);
        &:hover{
            color: white;
            background: darken($button-bg-color,5%);
            box-shadow: 0 2px 1px darken($button-bg-color,15%);
            transition: all 0.1s ease-in;
        }
        
        &:active{
            transform:translateY(6px);
            border-bottom-width: 2px;
            box-shadow: none;
        }
    }
}

.new-message {
padding:18px 20px;
margin: 1rem .5rem;
min-height: 80px;
background: rgb(119,64,231);
background: linear-gradient(0deg, rgba(119,64,231,1) 1%, rgba(92,51,168,1) 12%, rgba(79,20,167,1) 27%); 
color: white;
float: left;
clear: both;
@include roundCorners(25px 25px 25px 0);
box-shadow:1px 1px 2px rgba(0,0,0,0.5);
align-self: flex-start;
max-width: 70%;
}

.my-message {
    background: rgb(73,97,198);
    background: linear-gradient(0deg, rgba(73,97,198,1) 1%, rgba(51,70,168,1) 12%, rgba(20,43,167,1) 27%); 
    margin: 1rem .5rem;
    float: right;
    @include roundCorners(25px 25px 0 25px);
    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

