@mixin roundCorners($radius) {
    border-radius: $radius;
}

// @mixin hidden() {
//     display: none;
// }

@mixin hover() {
    &:hover {    
        cursor: pointer;
        background-color: #774ee6;
    }
}