$main-bg-color: rgb(48, 179, 98);
$main-text-color: white;

$title-font: 'Titan One', sans-serif, cursive;
$default-family:'Open Sans', sans-serif;

$button-bg-color: #1f3eec;
$button-border-color: #a0ddec;